.btn-group{
    display:flex;
    flex-direction: row;
    padding:10px;
    position: relative;
}
.inc{
    background-color: #a54242;
    font-size: 30px;
    padding:10px 20px 10px 20px;
    border:1px solid #5e5656 ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color:white;
}
.val{
    font-weight: bold;
    font-size: 30px;
    background-color:#dba6a4;
    padding:10px 20px 10px 20px;
    border:1px solid #5e5656 ;
}
.dec{
    font-size: 30px;
    padding:10px 20px 10px 20px;
    background-color: #f5e3e2;
    border:1px solid #5e5656 ;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    color:black;
}